<!doctype html>
<html lang="en">
  <head>
    <title>Activity Tracker</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../public/stylesheets/application.css" />
  </head>
  <body>
    <header>
      
    </header>

    <main>

      <%= yield %>

    </main>

    <footer>

    </footer>
  </body>
</html>
